doctype html
html 
    head 
    title Tree-builder
    link(rel ='stylesheet' href= 'css/index.css')
    body 
        img(src="imagine logo here")
        h1 Tree-Builder
        #container 
            form(action = '/filerequest' method="POST")
                h2 Please select a file and the corresponding file type
                label File:
                input(type='file' name ='filename')
                label Filetype:
                select(name = 'phylotype')
                    option(value="Newick") Newick
                    option(value="Fasta") Fasta
                    option(value="Text") Text         
                input(type='submit' name = 'submit')