doctype html
html 
    head 
    title Tree-builder
    link(rel="stylesheet" href= "css/index.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="//veg.github.io/phylotree.js/phylotree.css" )

    script(src="//code.jquery.com/jquery.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="//d3js.org/d3.v3.min.js")
    script(src="//veg.github.io/phylotree.js/phylotree.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8")
    body 
        h1 Tree-builder
        svg#tree-container
        script.
            const tree = d3.layout.phylotree()
                .svg(d3.select("#tree-container"))
                .options({
                'left-right-spacing': 'fit-to-size',
                // fit to given size top-to-bottom
                'top-bottom-spacing': 'fit-to-size',
                // fit to given size left-to-right
                'selectable': true,
                // make nodes and branches not selectable
                'collapsible': true,
                // turn off the menu on internal nodes
                'transitions': true
                // turn off d3 animations
                })
                .size([800, 1000])
                .node_circle_size(0);
            tree(`#{newickData}`)
                .layout();
